/* Tank */

.tank-wrapper {
    display: inline-block ;
    visibility: visible ;
    height: auto ;
    min-height: 300px ;
    width: 100% ;
    max-width: 500px ;
    margin: 1em auto ;
    overflow: visible ;
  }

.tank {
    display: inline-block;
    height: 300px;
    width: 100%;
    max-width: 500px;
    background-color: #1b1b1b;
    position: relative;
    margin: 0.5rem;
  }
  
.tank-outline {
    position: absolute; /* Changed from relative to absolute */
    width: 95%;
    height: 95%;
    left: 2.5%; /* Added explicit left positioning */
    top: 2.5%;
    background-color: dodgerblue;
    border: 2px solid white;
    z-index: 1; /* Increased z-index */
    display: block;
}

.tank-bottom {
    position: absolute;
    height: 50px;
    width: 95%;               /* Match parent width % */
    bottom: 0;
    display: flex;
    justify-content: left;
    align-items: center;
}
  
.metal {
    font-weight: 400;
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    padding: 0 0;
    Xheight: 50px;
    width: 475px;
    text-align: center;
    border: none;
    background: #1b1b1b;
    box-shadow: inset hsla(0,0%,15%, 1) 0 0px 0px 4px,
      /* border */ inset hsla(0,0%,15%, .9) 0 -1px 5px 4px,
      /* soft SD */ inset hsla(0,0%,0%, .50) 0 -1px 0px 7px,
      /* bottom SD */ inset hsla(0,0%,0%,.7) 0 2px 1px 7px,
      /* top HL */ hsla(0,0%, 0%,.15) 0 -5px 6px 4px,
      /* outer SD */ hsla(0,0%,0%,.5) 0 5px 6px 4px;
}
  
.tank-grass{
    background-color: limegreen;
    display: flex;
    position: absolute;
    left:0;
    width: 475px;
    height: 5px;
    top: -5px;
    z-index:3;
}
  
.nametag {
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: center; /* Center items vertically */
    width: 200px;
    height: 60%;
    margin-left: 3%;
    background-color: white;
    color: #000;
    box-shadow: 2px 2px slategray;
}

  
.nameinfo {
    display: flex;
    line-height: 80%;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: left; /* Center text within each line */
}

.nameinfo ul {
    padding-inline-start: 10px; /* Adjust list padding */
    margin: 0; /* Remove default margin */
    list-style-type: none; /* Remove bullet points */
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Cantarell,Ubuntu,"Helvetica Neue",Helvetica,Arial,sans-serif,color-emoji;
    font-weight: 500;
    font-size: 1.2vh;
}



/* Food Bowl */

.bowl {
    width: 300px;
    height: 100px;
    background-color: #333;
    /* Smoother arc for the top curve */
    clip-path: path('M60,0 Q150,30 240,0 L300,100 L0,100 Z');
  }
  