/* Base styling that applies to all fluffy types */

.fluffy {
  position: relative;
  display: inline-block;
  transform-origin: top left;
  min-height: 100px;
}

.tank .fluffy {
  position: absolute;
  bottom: 47px;
  left: 50px;
  margin: 0;               
  z-index: 5;               
}

.right .fluffy {
  transform: scaleX(-1);
}