.horn {
  clip-path: polygon(50% 0%, 26% 100%, 73% 100%);
  background-color:white;
  width:10px;
  height:15px;
  left:30px;
  top:11px;
  position: absolute;
  transform: rotate(-52deg);
  z-index:99;
  box-shadow: 5px 10px;
}

.horn-border {
  clip-path: polygon(49% 0%, 25% 99%, 72% 99%);
  background-color:green;
  width:15px;
  height:19px;
  left:27px;
  top:9px;
  position: absolute;
  transform: rotate(-50deg);
  z-index:98;
  box-shadow: 5px 10px;
}

.line {
  border-bottom: 1px solid #fff; /* Creates the line */
  opacity: 0.2;
  position: absolute; /* Allows you to position the lines freely */
  z-index: 999; /* Ensures the lines are on top of other content */
}

.line-1 {
  width: 15px;
  top: 14px;
  left: 28px;
}

.line-2 {
  width: 15px;
  top: 17px;
  left: 30px;
}

.line-3 {
  width: 15px;
  top: 20px;
  left: 32px;
}
.wings {
  background-color: green;
  position:absolute;
  z-index: 26;
  height: 40px;
  width: 50px;
  clip-path: polygon(22% 25%, 21% 25%, 18% 25%, 14% 27%, 11% 30%, 10% 34%, 8% 40%, 8% 47%, 12% 58%, 15% 63%, 17% 64%, 19% 65%, 23% 66%, 26% 66%, 30% 66%, 38% 67%, 43% 67%, 52% 66%, 57% 65%, 77% 61%, 88% 57%, 98% 51%, 94% 47%, 91% 41%, 89% 38%, 84% 33%, 79% 31%, 74% 28%, 71% 26%, 66% 25%, 61% 24%, 53% 24%, 43% 23%, 40% 24%, 32% 25%, 28% 26%, 26% 27%);
}

.wings-border {
  background-color: #eee;
  opacity: 0.4;
  position: absolute;
  z-index: 25;
  height: 45px;
  width: 55px;
  clip-path: polygon(22% 25%, 21% 25%, 18% 25%, 14% 27%, 11% 30%, 10% 34%, 8% 40%, 8% 47%, 12% 58%, 15% 63%, 17% 64%, 19% 65%, 23% 66%, 26% 66%, 30% 66%, 38% 67%, 43% 67%, 52% 66%, 57% 65%, 77% 61%, 88% 57%, 98% 51%, 94% 47%, 91% 41%, 89% 38%, 84% 33%, 79% 31%, 74% 28%, 71% 26%, 66% 25%, 61% 24%, 53% 24%, 43% 23%, 40% 24%, 32% 25%, 28% 26%, 26% 27%);
}

.wings-container{
  position:relative;
  height:50px;
  top:15px;
  left:80px;
}

.fluffy {
  position: relative;
  height: 75px;
  width: 100%;
}

.belly {
  position: absolute;
  top: 75px;
  left: 60px;
  background-color: Peru;
  width: 90px;
  height: 5px;
  z-index: 3;
  border-top: none;
  border-radius: 0px 0px 100px 100px; /* Top half is rounded */
}

.head {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: green;
  left: 25px;
  top: 20px;
  border-radius: 10px;
  z-index: 3; /* Base layer */
}
.head-shadow {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: green;
  opacity: 0.3;
  left: 26px;
  top: 21px;
  border-radius: 10px;
  z-index: 2; /* Base layer */
}

.mane1 {
  position: absolute;
  width: 55px;
  height: 40px;
  background-color: azure;
  left: 26px;
  transform: rotate(4 deg);
  top: -17px;
  z-index: 50;
  clip-path: polygon(0 100%, 24% 49%, 26% 72%, 46% 51%, 43% 71%, 60% 57%, 61% 70%, 74% 63%, 74% 74%, 98% 66%, 85% 74%, 100% 74%, 79% 89%, 53% 98%, 24% 100%);

}


.mane2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: azure;
  left: 60px;
  top: -20px;
  transform: rotate(30deg);
  z-index: 50;
  clip-path: polygon(0 100%, 32% 65%, 21% 84%, 47% 64%, 34% 83%, 65% 62%, 49% 80%, 79% 63%, 59% 81%, 98% 66%, 72% 81%, 100% 74%, 69% 90%, 53% 98%, 24% 100%);
}

.body {
  position: absolute;
  width: 120px;
  height: 60px;
  background-color: green;
  left: 50px;
  top: 20px;
  border-radius: 5px;
  z-index: 1;
}

.leg {
  width: 20px;
  background-color: green;
  border-radius: 5px;
  position: absolute;
}

.smile {
  width: 5px;  /* Adjust for size */
  height: 5px;  /* Half of width for a semi-circle */
  top: 60px;
  left: 25px;
  position: absolute;
  opacity: 0.5;
  border: 1px solid green; /* 1px border */
  border-bottom: none;  /* Remove bottom border */
  border-radius: 100px 100px 0 0; /* Top half is rounded */
  background: transparent; /* No fill */
  transform: rotate(180deg);
  z-index: 10;
}

.snout {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: Peru;
  left: 20px;
  top: 40px;
  border-radius: 5px;
  z-index: 3;
}

.snout-shadow {
  position: absolute;
  width: 20px;
  height: 30px;
  background-color: green;
  opacity: 0.3;
  left: 21px;
  top: 41px;
  border-radius: 5px;
  z-index: 2;
}

.foot {
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: azure;
  z-index: 5; /* Above body */
}

.leg1, .leg3 { 
  top: 75px;
  height: 30px;
  z-index: 0; 
}

.leg2, .leg4 { 
  top: 55px;
  height: 50px;
  z-index: 3; 
}

.foot1, .foot2, .foot3, .foot4 { position: absolute;top: 102px }
.foot1, .leg1 { left: 55px }
.foot2, .leg2 { left: 80px }
.foot3, .leg3 { left: 120px }
.foot4, .leg4 { left: 145px }

.tail {
  position: absolute;
  width: 65px;
  height: 70px;
  background-color: azure;
  left: 175px;
  top: -5px;
  transform: rotate(60deg);
  z-index: 1;
  clip-path: polygon(0 100%, 32% 65%, 21% 84%, 47% 64%, 34% 83%, 65% 62%, 49% 80%, 79% 63%, 59% 81%, 98% 66%, 72% 81%, 100% 74%, 69% 90%, 53% 98%, 24% 100%);
}

.eye1 {
  position: absolute;
  width:8px;
  height:12px;
  background-color: white;
  left: 30px;
  top: 25px;
  border: 1px solid green;
  z-index: 50; /* Base layer */
}

.eye2 {
  position: absolute;
  width:8px;
  height:12px;
  background-color: white;
  left: 45px;
  top: 25px;
  border: 1px solid green;
  z-index: 50; /* Base layer */
}

.pupil1 {
  position: absolute;
  width:3px;
  height:5px;
  background-color: azure;
  border: 1px solid rgba(0, 0, 0, .3);
  left: 32px;
  top: 29px;
  z-index: 99; /* Base layer */
}

.pupil2 {
  position: absolute;
  width:3px;
  height:5px;
  background-color: azure;
  border: 1px solid rgba(0, 0, 0, .3);
  left: 47px;
  top: 29px;
  z-index: 99; /* Base layer */
}
